structure-mod07-starter/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="initialize" doc:id="304b28bc-0558-4593-aebe-004ab8d04b8c" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="6d185fbd-aa8a-4c51-81b3-15b0f97f638a" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="destination" doc:id="69ed4dd8-a3af-48f8-ace3-9905083273c8" variableName="destination"/>
		<set-variable value="#[attributes.headers.'requester-id']" doc:name="Requester ID" doc:id="993b59b8-a51c-4f05-81f0-e6d64076b3b7" variableName="requesterId"/>
		<http:request method="GET" doc:name="GET/american/{destination}" doc:id="40bc9b1a-3f8b-4e44-843f-6daf3c554e8a" path="/${http.path}" config-ref="HTTP_Request_configuration_get_american_destination" responseTimeout="30000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[payload]" doc:name="payload-GET" doc:id="05ff4f5c-30fa-4d71-b422-af82262196d4" variableName="payload-GET"/>
		<async doc:name="Async" doc:id="c6c9c37d-5858-437f-9a7e-1d6254e7bcde" >
			<http:request method="POST" doc:name="POST/processData" doc:id="7ab29d23-7cd7-426b-9029-9812381a77d3" path="/${http.postPath}" responseTimeout="300000" config-ref="HTTP_Request_configuration_processData">
				<http:query-params ><![CDATA[#[output application/java
---
{
	"destination" : vars.destination,
	"requesterID" : vars.requesterId,
	"date" : attributes.headers.'date'
}]]]></http:query-params>
			</http:request>
		</async>
		<set-payload value="#[output application/json ---
{
    &quot;payload-GET&quot;: vars.'payload-GET',
	&quot;payload-PROCESS&quot;: payload,
    &quot;destination-process&quot;: vars.destination,
    &quot;requesterID-process&quot;: vars.requesterId
}]" doc:name="final summary" doc:id="68c44115-a04b-420b-8fe9-aa83f6d5c305" />
	
</flow>
	<flow name="mockData" doc:id="578be7bc-ce05-493e-9385-ef388dbcc6b8" >
		<set-payload value='[
        {
            "planeType": "Boeing 737",
            "code2": "1093",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-11",
            "fromAirport": "MUA",
            "price": 142,
            "airlineName": "American Airlines",
            "seatsAvailable": "1",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 777",
            "code2": "1994",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-01",
            "fromAirport": "MUA",
            "price": 676,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "2000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-20",
            "fromAirport": "MUA",
            "price": 300,
            "airlineName": "American Airlines",
            "seatsAvailable": "30",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "3000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-01",
            "fromAirport": "MUA",
            "price": 900,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "4567",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-20",
            "fromAirport": "MUA",
            "price": 456,
            "airlineName": "American Airlines",
            "seatsAvailable": "100",
            "code1": "rree"
        }
    ]' doc:name="flights" doc:id="71c10e25-6deb-4850-9659-a1615d4e75ec" mimeType="application/json" />
	</flow>
	<flow name="processData" doc:id="c7379ac2-5182-4bd2-8475-cd7c520f8319" >
		<http:listener doc:name="POST/processData" doc:id="97851457-b00b-4ae0-a33e-42728bd47732" config-ref="HTTP_Listener_config" path="/processData" allowedMethods="POST"/>
		<ee:transform doc:name="summary payload" doc:id="2ea0ec2d-22c7-48d1-94aa-529b34372457" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: payload as Array map ((object) ->
		{
			planeType: object.planeType,
			flightDate: object.takeOffDate,
			price: object.price
		}
	),
    destination: attributes.queryParams.destination,
    requesterID: attributes.queryParams.requesterID,
    "flight-date-return": attributes.queryParams.date
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="process data summary" doc:id="a14ca1a7-43ef-4479-b0d1-56d15a01c3a0" message="#[payload]"/>
	
</flow>
</mule>
